# Database configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_secure_pass
POSTGRES_DB=asala_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# SQLAlchemy/SQLModel Connection String
DATABASE_URL=postgresql://postgres:postgres_secure_pass@db:5432/asala_db

# FastAPI configuration
BACKEND_CORS_ORIGINS=["http://localhost:3000"]
PROJECT_NAME="Asala Hub API"
